<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
        <%= link_to post.title, post %>
        <p class="post-date"><%= post.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  <% end %>
</div>